
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C#学习Demo</title>
</head>
<body>
    <ul>
        <li><a href="/Authentication/Login">数据库系统</a></li>
        <li><a href="/AverageScore/Index">简单的计算平均数分数</a></li>

    </ul>
</body>
</html>
